.book-table {
    display: block;
    height: 500px;
    width: 30%;
    padding: 0 8px;
    margin: 0 auto;
    border-right: 2px solid rebeccapurple;
    border-left: 2px solid rebeccapurple;
    border-radius: 12px;
    font-family: "Comic Sans MS", cursive;
    overflow-y: auto;
    transition-duration: 0.3s;
}

.book-table.hidden-elements {
    height: 50px;
}

.book-table.hidden-elements .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.book-table.hidden-elements .button-wrapper * {
    width: 15%;
}

.book-table .book-table-element {
    display: block;
    color: rebeccapurple;
    text-align: left;
    padding: 4px;
    margin-bottom: 8px;
    border-bottom: 2px solid rebeccapurple;
    border-collapse: collapse;
}

.book-table .book-table-element:first-child {
    font-weight: bold;
    border-bottom: none;
}

.book-table .book-index {
    display: inline-block;
    width: 15%;
    text-align: center;
}

.book-table .book-title {
    display: inline-block;
    width: 40%;
}

.book-table .book-type {
    display: inline-block;
    width: 15%;
    text-align: center;
}

.book-table .button-wrapper {
    display: inline-block;
    width: 15%;
}

.book-table .button-wrapper * {
    display: block;
    width: 100%;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.1s;
}

.book-table .button-wrapper *:hover {
    outline: 2px ridge var(--underline-color);
}

.book-table .hide-button {
    --underline-color: cadetblue;
    color: cadetblue;
}

.book-table .edit-button {
    --underline-color: limegreen;
    color: limegreen;
}

.book-table .remove-button {
    --underline-color: crimson;
    color: crimson;
}

.hidden {
    display: none;
}

